<div class="card mt-4">
  <div class="card-header">
    <b><h5>About Us</h5>    </b>
  </div>
</div>
<div class="card card-outline-secondary my-4">
  <div class="card-header">
    <b>Why We created Yulara Russian-Sinhala Dictionary    </b>
  </div>
  <div class="card-body">
    <p>Sri Lankans Sinhales students underwent difficulties with the Russian Languages</p>
    <small class="text-muted"></small>
  </div>
</div>

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    <b>About Creators </b>
  </div>
  <div class="card-body">
    <p>.. and developed by Chathura Ranasingha</p>
    <small class="text-muted"></small>
  </div>
</div>