
<div class="card mt-4">
  <div class="card-header">
    <b><h5>Download</h5>    </b>
  </div>
</div>
<div class="card card-outline-secondary my-4">
  <div class="card-header">
    <b>Yulara Russian Sinhala Dictionary</b>
  </div>
  <div class="card-body">
    <p>There are many Sinhales student who wants to learn Russian, Yulara has been supporting those students since 2016. We've developed Mobile versions, Desktop Version and Online Versions.</p>
    <small class="text-muted"></small>
  </div>
</div>

<div class="card card-outline-secondary my-4">
  <div class="card-header">
  <b>Yulara Android Application</b>
  </div>
  <div class="card-body">
    <p>You can download Yulara Russian-Sinhala Dictionary Android App on Google Play.</p>
    <img width="150" height="45" src="https://www.gstatic.com/android/market_images/web/play_prism_hlock_2x.png" alt="">
    <small class="text-muted"></small>
  </div>
</div>